<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome to RossWorld!</title>
	<link rel="stylesheet" href="/main.css"/>
</head>
<body>
	<h1>Hello {{username}}, Welcome to RossWorld! Site is under construction.</h1>
	<div class = "container">
	<span>Visit Counter: {{views}}<span>	
	</div>
</body>
</html>