<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="/main.css"/>
</head>
<body>
	<h1>Hello, Welcome to RossWorld! Please login if you dare.</h1>
	<div class = "container"/>
	<span>username = foobar, password = helloworld</span>
	<form action = "/login" method = "post">
	<input type = "text" name = "username" id = "username" placeholder = "Username"></input>
	<input type = "text" name = "password" id = "password" placeholder = "Password"></input>
	<button type = "submit">Submit</button>
	</form>
	</div>
</body>
</html>